
body 	{
	
	 img: url("https://ih1.redbubble.net/image.300207728.5605/flat,900x900,070,f.u3.jpg");
  width: 100px;
  hieght: 100px;
}

body.plain {
	background-color: black;
} 

h2 {
	color: white;
}
