
body 	{
	
	 img: url("https://ih1.redbubble.net/image.300207728.5605/flat,900x900,070,f.u3.jpg");
  width: 100px;
  hieght: 100px;
}

body.plain {
	background-color: black;
} 

h2 {
	color: white;
}

ul	{
	list-style-type: none;
	background: lightgray;
	padding: 0;/*gets rid of space on left*/
	margin: 0;/**/
	overflow: hidden;
}

li a {
	display: block;
	text-decoration:none;
	color: red;
	font-family: Arial;
	padding: 10px;
	text-align: center;
}

li a:hover {
	background: black;
	color: white;
	/*font-family: courier*/
}

li{
	float: left;
}
