h1   {
  
  color: red;


}

h2   {
  
  color: blue;
  
  
}


h3   {
  
  color: lime;
  
}


p    {
  
  color: Fuchsia;
}
  
 body 	{
	
	 background-image: url("https://images3.alphacoders.com/146/146469.jpg");
	 background-position: center center;
	 background-size: cover;
	
}

body.plain {
	background-color: black;
}

html	{
	height: 100%;
}

ul	{
	list-style-type: none;
	background: lightgray;
	width: 100px;
	padding: 0;/*gets rid of space on left*/
	margin: 0;/**/
}

li a {
	display: block;
	text-decoration:none;
	color: red;
	font-family: Arial;
	padding: 10;
	text-align: center;
}

li a:hover {
	background: black;
	color: white;
	font-family: courier
}
