h1   {
  
  color: red;


}

h2   {
  
  color: yellow;
  
  
}


h3   {
  
  color: lime;
  
}


p    {
  
  color: black;
}
 

body 	{
	
	 background-image: url("2wCEAAkGBxMTEhUTExIVFhUXFxcWFxgXFhYXGBsYHRYXFhgYHRsbHyggGRomGxYXITEiJSkrLi4uFx81ODMtNygtLisBCgoKDg0OGhAQGy0lICUtLS8vLSstLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLSstLf");
	 background-position: center center;
	 background-size: cover;
	 backgroud-atttachment: fixed;
	
}

html	{
	height: 100%;
}

ul	{
	list-style-type: none;
	background: lightgray;
	padding: 0;/*gets rid of space on left*/
	margin: 0;/**/
	overflow: hidden;
}

li a {
	display: block;
	text-decoration:none;
	color: red;
	font-family: Arial;
	padding: 10px;
	text-align: center;
}

li a:hover {
	background: black;
	color: white;
	/*font-family: courier*/
}

li{
	float: left;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
